.site-header {
    background-color:green;
    color:rgb(205, 212, 192);
    height:100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-header-content{
    margin:10px;
}

.profile-pic{
    border-radius: 50%;
    height:200px;
    width:200px;
    align-self: center;
    box-shadow:black 2px 5px 5px;
}

.course-link{
    color:rgb(205, 212, 192);
}

body{
    margin:0;
}